body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

code, tt, pre {
  font-family: Courier;
}

a {
  text-decoration: none;
  color: black;
}

a:link, a:visited {
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.hi {
  background: #ff9;
}

.ex {
  border: solid 1px #aaa;
  width: 188px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ex:hover {
  border-color: steelblue;
}

.ex.last {
  margin-right: 0px;
}
